@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  padding: 0%;
  margin: 0%;
}

body{
  font-family: 'Inter', sans-serif;
  background: rgba(211, 211, 211, 0.3);
}

/* -----------------------NAV-BAR------------------------- */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  padding:  20px 80px;
}

.logo-sec{
  display: flex;
  align-items: center;
}

.logo-sec  img:nth-child(1){
  background-color: #39DB4A;
  padding: 5px;
  border-radius: 5px;
}

.nav-sec a{
  list-style-type: none;
  text-decoration: none;
  font-size:16px;
  font-weight: 500;
  color: #4A4A4A;
}

.nav-sec li{
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-sec a:hover{
  color: #39DB4A;
}

.nav-sec .material-symbols-outlined{
  color: #39DB4A;
}

.nav-sec ul{
  display: flex;
  align-items: center;
  gap:40px;
}

.contact-sec{
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-sec .material-symbols-outlined{
  font-size:20px
}

.contact-sec .material-symbols-outlined:hover{
  cursor: pointer;
}

.contact-sec button{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: white;
  outline: none;
  border: none;
  background: #39DB4A;
  border-radius: 40px;
  padding: 8px 15px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

/* ---------------------------MAIN-DIV------------------------------ */

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 80px;
}

.left-div{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.food{
  color:#39DB4A
}

.marketing-head{
  font-size:48px;
  width: 450px;
  line-height: 60px;
}

.marketing-para{
  font-size: 18px;
  font-weight: 500;
  color: #4A4A4A;
  line-height: 30px;
  width: 450px;
}

.order-buttons{
  display: flex;
  align-items: center;
  gap: 20px
}

.watch{
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
}

.watch span{
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 5px 5px 20px #4a4a4a45;
  cursor: pointer;
}

.play-btn{
  font-size:35px;
  margin-left: 10px;
}

.order{
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background: #39DB4A;
  cursor: pointer;
}

.order:hover{
  background: #1ab82a;
  box-shadow: 5px 5px 15px #39db4970;
}

.ellipse{
  position: relative;
}

.ellipse-circle{
  position: absolute;
  z-index: -1;
  right: 0px;
  bottom: 0px;
}

.spicy{
  position: absolute;
  z-index: 2;
  top: 150px;
  padding: 10px 20px;
  color: red;
  font-weight: 600;
  border-radius: 10px 10px 0px 10px;
  box-shadow: 10px 10px 20px rgb(157, 157, 157);
  background: white;
}

.recommend img{
  border-radius: 5px;
}

.recommend-foods{
  position: absolute;
  bottom: 0px;
  left: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.recommend{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 8px;
  width: 180px;
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.522);
  font-weight: 600;
}

.recommend-card{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.dollar-sign{
  color: red;
  margin-right: 5px;
  font-weight: 700;
}

/* ---------------------------CATEGORIES SEC----------------- */

.categories-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 80px 0;
  text-align: center;
}

.categories-lines p,.special-lines p{
  color: red;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 20px;
  text-align: center;
}

.categories-lines h1,.special-lines h1{
  font-size: 30px;
}

.category{
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.442);
  cursor: pointer;
  background: white;
}

.categories-img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.category img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  background:#C1F1C6;
  padding:  15px;
  border-radius: 50%;
}

.dish-variety{
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0;
}

.special-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
}

.special-img img{
  margin: 0 auto;
}

